<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAO's headlines</title>
</head>
<body>
        <h1>头条</h1>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>

        {% for article in articles %}

            <b><a href="{{ article.link }}">{{ article.title }}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p>
        {%  endfor %}
</body>
</html>